<div class="col-3 form-contacto" th:fragment="form-contact">
    <h3>Contáctanos</h3>
    <form method="post" action="/registrar">
        <div class="form-group">
            <input class="form-control form-control-lg mb-3 mt-3" name="nombre" type="text"
                placeholder="Ingresa tu nombre">
            <input class="form-control form-control-lg mb-3 mt-3" name="apellidos" type="text"
                placeholder="Ingresa tus apellidos">
            <input class="form-control form-control-lg mb-3 mt-3" name="correo" type="text"
                placeholder="Ingresa tus correo">
            <input class="form-control form-control-lg mb-3 mt-3" name="telefono" type="text"
                placeholder="Ingresa tus teléfono">
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<div class="col-3 form-contacto" th:fragment="video">
    <h3>Video</h3>
    <div class="row">
        <div class="col-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HeiUiFWpjqQ" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>